@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-xmd: 830px;
}


body {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.skeleton-box {
  background-color: #ddd;
  position: relative;
  overflow: hidden;
  height: 1em;
}

.skeleton-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
  width: 12px !important;
}

